* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0);
}